body {

}
p.moreInfo{
    font-size:18px;
    color:#F1F2C4;
    font-family:'Segoe Print';
    text-align:center;
}
nav.navbar{
    font-family:'Segoe Print';
    background-color:black;
    opacity:.8;
}
.greenLightbulb {
    min-height: 620px;
    background: url('Images/iStock_greenlightbulbs_Rotated_Small.jpg')center no-repeat;
    background-size:75% auto;
    background-color:black;

}

div.lightbulb {
    min-height: 620px;
    background: url('Images/iStock_Lightbulb_Small.jpg')center no-repeat;
    background-size:75% auto;
    background-color:black; 
}
.blueLightbulb {
    min-height: 620px;
    background: url('Images/iStock_blueLigthbulb_Small.jpg')center no-repeat;
    background-size:75% auto;
    background-color:black;
}
div.about{
    padding:35px;
    padding-left:35px;
}
div.paragraph{
    height:350px;
}
.orangeLightbulb {
    min-height: 620px;
    background: url('Images/iStock_orangeLightbulb_rotated_Small.jpg')center no-repeat;
    background-size: 75% auto;
    background-color:black;
}
div.bioPic {
    min-height:420px;
    background: url('Images/Characture8.jpg')center no-repeat;
    background-size:100% auto;
}
div.col-sm-4{
    min-height:250px;
    background:25%;
}
div.col-sm-8{
    min-height:250px;
}
ul.list-inline{
    text-align:center;
    font-size:20px;
}
ul.contactIcon{
    text-align:left;
    font-size:20px;
}
div.projectBox{
    height:220px;
    text-align:center;
    background-color:black;
}
div.box{
    padding-left:50px;
    padding-right:50px;
}
div.aboutBox{
    text-align:center;
    height:280px;
    background-color:black;
}
div.homeBox{
    height:220px;
    text-align:center;
    background-color:black;
}
div.contactBox{
    padding-left:75px;
    height:430px; 
    background-color:black; 
}
div.end{
    text-align:center;
}

/*div.col-md-12{
    padding-left:35px;
}*/
h2.info{
    font-size:35px;
    font-family:'Kaushan Script', cursive;
    color:#F1F2C4;
}
/*div.col-md-10{
    position:center;
}*/
.overlay {
    margin: 0 auto;
    background: #434647;
    color: #fff;
    opacity: .8;
}
h1.projects{
    text-align:left;
    padding-top:0;
    padding-bottom:5px;
}
h1.info{
    font-size:35px;
    font-family:'Kaushan Script', cursive;
    color:#F1F2C4;
}
h1.textColor{
    color:#F1F2C4;
}
h4.contactInfo{
    font-family:'Segoe Print';
    color:#F1F2C4;
    font-size:18px;
}
p.thanks{
    font-size:15px;
    font-family:'Segoe Print';
    color:#F1F2C4;
}
div#aboutLinks{
    padding-left:800px;
    padding-bottom:25px;
    color:#F1F2C4;
}
div#contactLinks{
    color:#F1F2C4;
}

h1.projects{
    padding-left:35px;
}
.aboutInfo {
    height: 360px;
    background-color:#F1F2C4;   
}
div.spacer2{
    height:115px; 
}
.spacer{
    height:75px;  
}
.spacer3{
    height:225px;
}
}
div.createLink{
    text-align:center;
}   
ul footer{
    display: inline-block;
    text-align:center;   
}
div.breakline{
    height:5px;
    background-color:black;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    background-color:#F1F2C4;
}
.container-fluid{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/*ul.footer{
    padding-right:735px;
}*/
footer {
    height: 150px;
    text-align: center;
    background-color:black;
    padding-top:25px;
    padding-bottom:25px;
}
.dl-horizontal dt{
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
