@{
    ViewBag.Title = "About";
}

<div class="lightbulb">
    <div class="col-md-12 spacer"></div>
    <div class="col-md-12 aBox">
        <div class="col-md-1 aBox"></div>
        <div class="col-md-5 aboutBox">
            <h1 class="info textColor">Hello, I'm Julie Baioni</h1><br />
            <p class="moreInfo">Come and get to know me better!</p>
        </div>
        <div class="col-md-6 aBox"></div>
    </div>
    <div class="col-md-12 pic">
        <div class="col-md-3"></div>
        <div class="col-md-1 picture"></div>
    </div>
    <div id="aboutLinks">
        <ul class="list-inline" style="color:black;">Follow me on
            <li>
                <a href="https://github.com/baioni1?tab=repositories">
                <img src="~/Content/Images/Github-icon (2).png" /></a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12 spacer2"></div>
<div class="col-md-12 paragraph">
    <div class="col-md-2"></div>
    <div class="col-md-8 biography"></div>
    <div class="col-md-2"></div>
</div>




