@{
    ViewBag.Title = "About";
}

<div class="lightbulb">
    <div class="col-md-12 spacer3"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4 aboutBox overlay">
       <h1 class="info textColor">Hello, I'm Julie Baioni</h1><br />
          <p class="moreInfo">Come and get to know me better!</p>
          <p class="moreInfo">See What I've been working<br /> on at We Can Code It Bootcamp!</p><br />
          <p>
             <a href="https://github.com/baioni1?tab=repositories" target="_blank">
                 <img src="~/Content/Images/Github-icon.png" />
             </a>
          </p>
     </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 bioPic"></div> 
</div>   
<div class="col-md-12 paragraph"></div>




