@{
    ViewBag.Title = "About";
}

<div class="lightbulb">
    <div class="col-md-12 spacer3"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4 aboutBox overlay">
        <h1 class="info textColor">Hello, I'm Julie Baioni</h1><br />
        <p class="moreInfo">Come and get to know me better!</p>
        <p class="moreInfo">See What I've been working<br /> on at We Can Code It Bootcamp!</p><br />
        <p>
            <a href="https://github.com/baioni1?tab=repositories" target="_blank">
                <img src="~/Content/Images/Github-icon.png" />
            </a>
        </p>
    </div>
</div>
<div class="col-md-12 spacer4"></div>
<div class="col-md-12">
    <div class="col-md-4 bioPic img-responsive"></div>
    <div class="col-md-8 paragraph">
        <h3>My Experience</h3>
        <p>
            With We Can Code IT's intense curriculum, I've developed MVC and console applications using C#,
            Entity Framework, SQL and designed the front ends using Bootstrap, CSS, jQuery.  I have
            been using Git and GitHub throughout the process and have learned Scum and Agile development
            as well. Along with my other skills in Marketing and Teaching, I look forwad to starting my new
            career in a challenging position as a Junior Software Engineer.
        </p>
        <p>
            The majority of class time was spent on actual coding projects. The program is focused 
            on C# but ensures students are equipped with the capabilities to adapt to any framework. 
            The projects I've created have real-world applications.  Full-time coding bootcamp has given 
            me the confidence to find my way into a Software Engineering career.
        </p>       
    </div>
</div>




