@{
    ViewBag.Title = "About";
}

<div class="lightbulb">
    <div class="col-md-12 spacer3"></div>
    <div class="row container">
        <div class="col-md-2"></div>
        <div" class="col-md-6 aboutBox">
            <h1 class="info textColor">Hello, I'm Julie Baioni</h1><br />
                <p class="moreInfo">Come and get to know me better!</p>
       </div">
    </div>
    <div class="row profilePic">
        <div class="col-md-3 profilePic"></div>
        <div class="col-md-1 picture"></div>
        <div class="col-md-8 profilePic"></div>
    </div>
    <div id="aboutLinks">
        <ul class="list-inline" style="color:black;">Follow me on
            <li>
                <a href="https://github.com/baioni1?tab=repositories">
                    <img src="~/Content/Images/Github-icon.png" />
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12 spacer2"></div>
<div class="col-md-12 paragraph">
    <div class="col-md-2"></div>
    <div class="col-md-8 biography"></div>
    <div class="col-md-2"></div>
</div>




