@{
    ViewBag.Title = "Contact";
}

<div class="blueLightbulb">
    <div class="col-md-12 spacer"></div>
    <div class="col-md-2"></div>
    <div class="col-md-6 box">
        <h1 class="info">Contact Me ~</h1><br />
        <h4 class="contactInfo">
            <span class="glyphicon glyphicon-envelope"></span><a href=""></a>  jbaioni23@gmail.com
        </h4>
        <h4 class="contactInfo">
            <span class="glyphicon glyphicon-earphone"></span> (216)692-3064
        </h4>   
        <h4 class="contactInfo"><br />All correspondences can be sent to:<br /><br />
            1012 Professor Road<br />
            Cleveland, Ohio 44124
        </h4>
        
        <div id="contactLinks">
            <ul class="list-inline">Follow me on
                <li>
                    <a href="https://github.com/baioni1?tab=repositories"><img src="~/Content/Images/Github-icon (2).png" /></a>
                <li>
                    <a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile"><img src="~/Content/Images/Linked-In-icon (2).png" /></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-12 spacer2"></div>

