@{
    ViewBag.Title = "Home Page";
}

<div class="greenLightbulb">
    <div class="col-md-12 spacer3"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4 homeBox overlay">
        <h1 class="info">Welcome!</h1><br />
        <p class="moreInfo">
            My name is Julie Baioni.
            I'm a Junior Software Engineer!
        </p>
    </div>
</div>

