@{
    ViewBag.Title = "Home Page";
}

<div class="greenLightbulb">
    <div class="col-md-12 spacer3"></div>
    <div class="row">
       <div class="col-md-2"></div>
       <div class="col-md-4 aBox">
          <h1 class="info">Hi, I am Julie Baioni</h1><br />
             <p class="moreInfo">
                 more info will go here and I will keep on/br>
                 and more stuff over and over again.
             </p>
        </div>
    </div>     
</div>
<div class="col-md-12 spacer2"></div>
